:root {
  --text: #675f74;
  --text-h: #170f24;
  --bg: #e8e4f0;
  --surface: rgba(255, 255, 255, 0.6);
  --border: #e5e2ec;
  --code-bg: #f3f1f8;
  --accent: #8a2be2;
  --accent-contrast: #fff;
  --accent-bg: rgba(138, 43, 226, 0.1);
  --accent-border: rgba(138, 43, 226, 0.45);
  --social-bg: rgba(243, 241, 248, 0.5);
  --shadow: rgba(23, 15, 36, 0.1) 0 10px 15px -3px,
    rgba(23, 15, 36, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.container {
  max-width: 1280px;
  margin: 2rem auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

article {
  padding: 1rem 0.5rem;
  border-radius: 16px;
  background-color: var(--surface);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  position: relative;
}

article h3 {
  color: var(--text-h);
}

article p {
  color: var(--text-h);
  opacity: 0.6;
  margin: auto;
}
.poster {
  width: 100%;
  height: 100%;
  max-height: 300px;
  margin: 1rem auto;
}

.poster img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info {
  margin-top: auto;
  color: var(--text-h);
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
}

.badge {
  background-color: var(--accent);
  color: var(--accent-contrast);
  padding: 3px 10px;
  display: inline-block;
  border-radius: 30px;
  margin-top: auto;
}

.fav-list {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.movie-card--favorite .fav-list {
  color: goldenrod;
}
